/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Apr 26, 2016, 11:49:57 PM
    Author     : kaeuc
*/

/*BASE TEXT STYLES START*/


h1,h2,h3,h4{
    color: rgb(55, 55, 55);
}

a:visited,a:link,a:active{
    text-decoration: none;
}
/*BASE TEXT STYLES END*/

/*NAV BAR TEXT STYLES START*/
.myNavBar a:link,a:visited{
    color: inherit;
    text-decoration: none;
}
.myNavBar ul{
    list-style-type: none;
}

.loginArea a{
    font-size: 15px;
}
/*NAV BAR TEXT STYLES END*/


/*PROFILE - START*/

.titleBar h2{
    padding:10px;
    color: white;
}

.titleBar a:hover{
    -webkit-filter: drop-shadow(0px 0px 5px rgb(100, 200, 255));
    filter: drop-shadow(0px 0px 5px rgb(100, 200, 255));
}

#informationBox ul{
    list-style:none;
}
.profile-options{
    font-size: 14px;
    padding-left: 10px;
}

/*PROFILE - END*/

.caption{
    font-size: 12px;
    text-align: center;
    font-family: 'Roboto';
}

.errorMessage{
    color: red;
    font-style: italic;
}
